body{
    background-color: lightgray;
}
header {
    img {
        width: 300px;
        height: 385px;
        position: relative;
        left: 250px;
        top: 270px;
    }
    img:hover {
        box-shadow: 10px 10px 20px #000;
    }
    h1 {
        text-align: center;
        position: relative;
        bottom: 350px;
        font-size: 50px;
    }
}
.intro{
    border-radius: 25px;
    display: flex;
    width: 1000px;
    height: 350px;
    padding:20px;
    position: relative;
    left: 600px;
    bottom:250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        display: flex;
        position: relative;
        left:400px;
        bottom: 45px;
    }
    p{
        font-size: 25px;
        position: relative;
        text-align: right;
        right:120px;
        top:90px;
    }
}
.Diploma{
    border-radius: 25px;
    display: flex;
    width: 350px;
    height: 350px;
    padding:20px;
    position: relative;
    left:250px;
    bottom: 125px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        display: flex;
        position: relative;
        left:116px;
        right:116px;
        bottom: 45px;
    }
    ul{
        font-size: 25px;
        position: relative;
        right:175px;
        top:50px;
    }
    .secundair{
        white-space: nowrap;
    }
}
.Tskills{
    border-radius: 25px;
    display: flex;
    width: 350px;
    height: 350px;
    padding:20px;
    position: relative;
    left:750px;
    bottom: 515px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        white-space: nowrap;
        position: relative;
        left: 30px;
        bottom: 45px;
    }
    ul{
        font-size: 25px;
        white-space: nowrap;
        position: relative;
        right:310px;
        top:50px;

    }
}
.Sskills{
    border-radius: 25px;
    display: flex;
    width: 350px;
    height: 350px;
    padding:20px;
    position: relative;
    left:1250px;
    bottom: 905px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        white-space: nowrap;
        position: relative;
        left: 60px;
        bottom: 45px;
    }
    ul{
        font-size: 25px;
        position: relative;
        right:240px;
        top:50px;
    }
}
.Talenkennis{
    border-radius: 25px;
    display: flex;
    width: 1350px;
    height: 350px;
    padding:20px;
    position: relative;
    bottom:800px;
    left: 250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        position: relative;
        left: 550px;
        bottom: 45px;
    }
    td {
        border: 2px solid black;
    }
    tr:nth-child(even){
        background-color: lightgray;
    }

    table {
        width: 800px;
        height: 300px;
        position: relative;
        top: 50px;
        left:50px;
        text-align: center;
        border: 4px solid gray;
        border-collapse: collapse;
        table-layout: fixed;
    }

}
.Werk{
    border-radius: 25px;
    display: flex;
    width: 1350px;
    height: 350px;
    padding:20px;
    position: relative;
    bottom:700px;
    left: 250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        position: relative;
        left: 550px;
        bottom: 45px;
    }
    h3{
        display: flex;
        position: relative;
        top: 50px;
        text-align:center;
        white-space: nowrap;
    }
    li{
        font-size: 20px;
        position: relative;
    }
    .school{
        position: relative;
        right: 250px;
        top: 100px;
    }
    .AH{
        position: relative;
        top: 100px;
        right: 150px;
    }
}
.Hobby{
    border-radius: 25px;
    display: flex;
    width: 1350px;
    height: 350px;
    padding:20px;
    position: relative;
    bottom:600px;
    left: 250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        text-decoration: underline;
        position: relative;
        left: 550px;
        bottom: 45px;
    }
    p{
        font-size: 25px;
        position: relative;
        right:40px;
        top:110px;
    }
}
.Boven{
    position : relative;
    left: 1750px;
}
button{
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
}
.opdracht{
    position: relative;
    bottom: 445px;
    text-align: center;
    font-size: 18px;
}
.Naam{
    position: relative;
    bottom: 400px;
    text-align: left;
    font-size: 18px;
}
hr{
    position: relative;
    bottom: 390px;
}
