body{
    background-color: lightgray;
}
img{
    width: 200px;
    position:relative;
    top:200px;
    left:300px;
}
img:hover{
    box-shadow: 10px 10px 20px #000;
}
h1{
    text-align: center;
}
.intro{
    border-radius: 25px;
    display: flex;
    width: 1000px;
    height: 350px;
    padding: 20px;
    position: relative;
    left: 450px;
    bottom:250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        display: flex;
        position: relative;
        left:400px;
        bottom: 45px;
    }
    p{
        font-size: 25px;
        position: relative;
        text-align: right;
        right:80px;
        top:30px;
    }
}
.Diploma{
    border-radius: 25px;
    display: flex;
    width: 350px;
    height: 350px;
    padding: 20px;
    position: relative;
    left:250px;
    bottom: 125px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        display: flex;
        position: relative;
        left:116px;
        right:116px;
        bottom: 45px;
    }
    ul{
        font-size: 25px;
        position: relative;
        right:80px;
        top:50px;

    }
}
.Tskills{
    border-radius: 25px;
    display: flex;
    width: 350px;
    height: 350px;
    padding: 20px;
    position: relative;
    left:750px;
    bottom: 515px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        display: flex;
        position: relative;
        left:116px;
        right:116px;
        bottom: 45px;
    }
    ul{
        font-size: 25px;
        position: relative;
        right:180px;
        top:80px;

    }
}
.Sskills{
    border-radius: 25px;
    display: flex;
    width: 350px;
    height: 350px;
    padding: 20px;
    position: relative;
    left:1250px;
    bottom: 905px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        position: relative;
        left: 116px;
        right: 116px;
        bottom: 45px;
    }
    ul{
        font-size: 25px;
        position: relative;
        right:150px;
        top:80px;


    }
}
.Talenkennis{
    border-radius: 25px;
    display: flex;
    width: 1350px;
    height: 350px;
    padding: 20px;
    position: relative;
    bottom:800px;
    left: 250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        position: relative;
        left: 550px;
        bottom: 45px;
    }
    td {
        border: 2px solid black;
    }

    table {
        width: 800px;
        height: 300px;
        position: relative;
        top: 50px;
        left:50px;
        text-align: center;
        border: 4px solid gray;
        border-collapse: collapse;
        table-layout: fixed;
    }

}
.Werk{
    border-radius: 25px;
    display: flex;
    width: 1350px;
    height: 350px;
    padding: 20px;
    position: relative;
    bottom:700px;
    left: 250px;
    background-color: mintcream;
    h2{
        font-size: 40px;
        position: relative;
        left: 550px;
        bottom: 45px;
    }
}
.Boven{
    position : relative;
    left: 1750px;
}
button{
    position: relative;
    top: 5px;
    height: 30px;
    width: 140px;
    font-size: 15px;
}
.opdracht{
    position: relative;
    top: 55px;
    text-align: center;
    font-size: 18px;
}
.Naam{
    position: relative;
    top: 90px;
    text-align: left;
    font-size: 18px;
}
hr{
    position: relative;
    top: 90px;
}