body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
header img {
    border-radius: 25px;
    width: 300px;
    height: 385px;
}
header img:hover {
    box-shadow: 10px 10px 20px #000;
}
header h1 {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: mintcream;
    border-radius: 25px;
    padding: 20px;
    max-width: 1350px;
    margin: 40px auto;
    gap: 20px;
}
#intro h2 {
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}
#intro p {
    font-size: 25px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    max-width: 1400px;
}
main article {
    background-color: mintcream;
    border-radius: 25px;
    padding: 20px;
    flex: 1 1 350px;
    min-height: 350px;
}
main article h2 {
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
}
main article ul {
    font-size: 25px;
    margin-left: 20px;
}
#Talenkennis {
    flex: 1 1 100%;
}
#Talenkennis table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    border: 4px solid gray;
    table-layout: fixed;
}
#Talenkennis th, #Talenkennis td {
    border: 2px solid black;
    padding: 10px;
}
#Talenkennis th {
    background-color: lightgray;
}
#Talenkennis tr:nth-child(even) {
    background-color: lightgray;
}
#Werk h3 {
    margin-top: 20px;
    text-align: left;
}
#Werk ul {
    font-size: 20px;
    margin-top: 10px;
}
#Hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Hobby p {
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
}
#Hobby img {
    border-radius: 25px;
    max-width: 30%;
}
footer {
    background: lightslategray;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}
footer #Naam{
    font-size: 25px;
    margin: 10px 0;
    position: relative;
    top: 25px;
    text-align: left;
}
footer #opdracht {
    font-size: 25px;
    margin: 10px 0;
    position: relative;
    bottom: 10px;
    text-align: center;
}
button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
}
button:hover {
    background-color: #444;
}
